@model CalculatorWeb.ViewModels.CalcViewModel;

@using (Html.BeginForm("Calculate", "Home", FormMethod.Post))
{
    <div>
        @foreach (List<string> row in Model.Rows)
        {
            <div>
                @foreach (string item in row)
                {
                    @if (item != null)
                    {
                        @if (item != "=")
                        {
                            <input type="button" value="@item">
                        }
                        else
                        {
                            <input type="submit" value="@item">
                        }
                    }
                }
            </div>
        }
    </div>
}